In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import timedelta,datetime
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("/Users/vishnusaibhadramraju/Downloads/city_market_tracker.tsv000.gz",compression='gzip', sep='\t')

In [4]:
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2020-04-01,2020-04-30,30,place,6,21264,f,"Aspen Hill, MD",Aspen Hill,Maryland,MD,Single Family Residential,6,543474.0,-0.062976,0.221290,440999.0,0.002270,-0.037120,249.369218,0.095230,0.149669,218.883415,0.023777,-0.010786,27.0,0.080000,-0.372093,27.0,-0.035714,-0.307692,31.0,-0.060606,-0.225,40.0,0.025641,0.250000,1.5,-0.1,0.8,8.0,-7.0,-11.0,1.006563,0.001105,0.005695,0.481481,0.081481,0.062877,0.125000,-0.105769,-0.15625,0.444444,-0.162698,-0.17094,"Frederick, MD",23224,2024-05-19 14:23:50
1,2018-09-01,2018-09-30,30,place,6,17263,f,"Riverside, IA",Riverside,Iowa,IA,All Residential,-1,212550.0,1.632198,NaN,141000.0,0.177453,NaN,109.684179,0.576360,NaN,132.365564,0.381859,NaN,2.0,0.000000,NaN,1.0,-0.500000,NaN,2.0,-0.666667,NaN,11.0,0.000000,NaN,5.5,0.0,NaN,595.0,567.0,NaN,0.936765,0.043346,NaN,0.500000,0.500000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,"Iowa City, IA",26980,2024-05-19 14:23:50
2,2018-04-01,2018-04-30,30,place,6,18480,f,"Staunton, IL",Staunton,Illinois,IL,Single Family Residential,6,97500.0,0.354167,-0.285714,NaN,NaN,NaN,61.416052,0.170381,0.053746,NaN,NaN,NaN,6.0,0.200000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.000000,-0.909091,0.2,0.0,-3.5,65.0,NaN,-199.0,0.883412,-0.046591,-0.071837,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,"St. Louis, MO",41180,2024-05-19 14:23:50
3,2018-09-01,2018-09-30,30,place,6,4222,f,"Cornwall, PA",Cornwall,Pennsylvania,PA,Single Family Residential,6,281007.0,-0.137989,0.003596,255000.0,-0.203792,0.146325,121.704450,0.006402,-0.123728,128.022541,-0.014216,0.138751,7.0,-0.222222,-0.222222,8.0,0.600000,7.000000,7.0,0.166667,6.000,14.0,-0.066667,0.076923,2.0,0.3,0.6,132.0,101.0,104.0,0.963201,-0.032614,-0.027382,0.142857,-0.301587,-0.190476,0.428571,0.361905,NaN,0.750000,0.150000,0.75000,"Lebanon, PA",30140,2024-05-19 14:23:50
4,2023-04-01,2023-04-30,30,place,6,37021,f,"Fairfax, CA",Fairfax,California,CA,Single Family Residential,6,335000.0,NaN,0.077170,NaN,NaN,NaN,239.456755,NaN,0.017744,NaN,NaN,NaN,1.0,NaN,-0.500000,2.0,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,-18.0,1.000000,NaN,-0.046365,0.000000,NaN,-1.000000,NaN,NaN,NaN,0.500000,NaN,-0.50000,"Bakersfield, CA",12540,2024-05-19 14:23:50

In [7]:
def lambda_handler(df):
     # Remove commas from the 'city' column
    df['city'] = df['city'].str.replace(',', '')
    cols = ['period_begin','period_end','period_duration', 'region_type', 'region_type_id', 'table_id',
    'is_seasonally_adjusted', 'city', 'state', 'state_code', 'property_type', 'property_type_id',
    'median_sale_price', 'median_list_price', 'median_ppsf', 'median_list_ppsf', 'homes_sold',
    'inventory', 'months_of_supply', 'median_dom', 'avg_sale_to_list', 'sold_above_list', 'parent_metro_region_metro_code', 
    'last_updated']
    df = df[cols]
    
    df = df.dropna()
    
    #let's change the period_begin and period_end to date time object and extract years and month.
    df['period_begin'] = pd.to_datetime(df['period_begin'])
    df['period_end'] = pd.to_datetime(df['period_end'])
    
    df["period_begin_in_years"] = df['period_begin'].dt.year
    df["period_end_in_years"] = df['period_end'].dt.year

    df["period_begin_in_months"] = df['period_begin'].dt.month
    df["period_end_in_months"] = df['period_end'].dt.month
    
    #let's map the month number to their respective month name.
    month_dict = {
        "period_begin_in_months": {
            1 : "Jan",
             2 :  "Feb",
             3: "Mar",
             4: "Apr",
             5: "May",
             6: "Jun",
             7: "Jul",
             8: "Aug",
             9: "Sep",
             10: "Oct",
             11: "Nov",
             12: "Dec",
        },
        "period_end_in_months": {
            1 : "Jan",
             2 :  "Feb",
             3: "Mar",
             4: "Apr",
             5: "May",
             6: "Jun",
             7: "Jul",
             8: "Aug",
             9: "Sep",
             10: "Oct",
             11: "Nov",
             12: "Dec"
        }}
    df = df.replace(month_dict)
    print('Num of rows:', len(df))
    print('Num of cols:', len(df.columns))
    return df

In [8]:
df1 = lambda_handler(df)
df1.head()

Num of rows: 4211393
Num of cols: 28

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,city,state,state_code,property_type,property_type_id,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months
0,2020-04-01,2020-04-30,30,place,6,21264,f,Aspen Hill,Maryland,MD,Single Family Residential,6,543474.0,440999.0,249.369218,218.883415,27.0,40.0,1.5,8.0,1.006563,0.481481,23224,2024-05-19 14:23:50,2020,2020,Apr,Apr
1,2018-09-01,2018-09-30,30,place,6,17263,f,Riverside,Iowa,IA,All Residential,-1,212550.0,141000.0,109.684179,132.365564,2.0,11.0,5.5,595.0,0.936765,0.500000,26980,2024-05-19 14:23:50,2018,2018,Sep,Sep
3,2018-09-01,2018-09-30,30,place,6,4222,f,Cornwall,Pennsylvania,PA,Single Family Residential,6,281007.0,255000.0,121.704450,128.022541,7.0,14.0,2.0,132.0,0.963201,0.142857,30140,2024-05-19 14:23:50,2018,2018,Sep,Sep
7,2016-07-01,2016-07-31,30,place,6,9272,f,Hueytown,Alabama,AL,All Residential,-1,122595.0,92200.0,61.197169,66.204872,20.0,110.0,5.5,91.0,0.953411,0.200000,13820,2024-05-19 14:23:50,2016,2016,Jul,Jul
10,2021-01-01,2021-01-31,30,place,6,19746,f,Watertown,Tennessee,TN,Single Family Residential,6,239000.0,244450.0,145.200486,196.596539,1.0,5.0,5.0,75.0,0.919584,0.000000,34980,2024-05-19 14:23:50,2021,2021,Jan,Jan

In [17]:
now = datetime.now()
date_now_string = now.strftime("%d%m%Y%H%M%S")
file_str = 'redfin_data_' + date_now_string
df1.to_csv(f"{file_str}.csv", index=False)
output_file_path = f"/Users/vishnusaibhadramraju/Downloads/{file_str}.csv"

In [18]:
output_file_path

'/Users/vishnusaibhadramraju/Downloads/redfin_data_02062024131755.csv'

(5354687, 58)